* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.partitionScreen {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

.player1,
.player2,
.player3,
.player4 {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.statistics {
  text-align: left;
  font-size: 2rem;
}

.numberInputPlayer1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 50%;
}

.numpad {
  font-size: 2rem;
}

.scoreSubmit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 25%;
}

.display {
  border: 2px solid black;
  margin: 2%;
  padding: 1%;
}

.submit {
  border: 2px solid black;
  margin: 2%;
  padding: 1%;
  font-size: 2rem;
}