* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.partitionScreen {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  gap: 10px;
}

.player1,
.player2,
.player3,
.player4 {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.statistics {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.playerName {
  font-size: calc(2rem + 2vw);
  text-align: center;
}

.playerScore {
  font-size: calc(2rem + 2vw);
  text-align: center;
}

.inputButton {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  min-height: calc(80px + 1vw);
  font-size: calc(6rem + 1vw);
  margin-top: calc(1rem + 1vw);
  text-align: center;
}

.btn {
  width: 100%;
  min-height: calc(80px + 1vw);
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: calc(3rem + 1vw);
  background-color: rgb(170, 158, 158);
  cursor: pointer;
  margin-top: 5px;
}

.inactive {
  background-color: rgb(230, 85, 85);
}

.active {
  background-color: rgb(161, 236, 106);
}

